{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SendWave{% endblock %}</title>

    <!-- Bootstrap + кастом -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Стилизованный Google шрифт -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

    <!-- ===== Навигационное меню и форма модального окна ===== -->
    {% include 'partials/_menu.html' %}
    {% include 'includes/modal_confirm.html' %}
    <!-- ===== НАВИГАЦИЯ (хлебные крошки + кнопка назад) ===== -->
    {% include 'partials/_breadcrumb.html' %}

    <main>
        {% block content %}
        <!-- Содержимое страницы -->
        {% endblock %}
    </main>


<!-- Футер (нижняя часть сайта) -->
<footer class="footer mt-auto py-4">
    <div class="container text-center">
        <span class="text-muted-custom small">© 2026 SendWave. Все права защищены.</span>
        <span class="text-purple-accent small mx-3">✦</span>
        <a href="#" class="text-decoration-none text-purple-accent small">Политика конфиденциальности</a>
    </div>
</footer>

    <!-- Скрипты -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/theme_toggle.js' %}"></script>
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>